/Area of Right Angle Triangle.py
/area of triangle.py
/Compund Interest.py
/Conditional_Statement.py
/Conditional_Statement_elif.py
/Conditional_Statement_nestedif.py
/Control Structures - Task 1.py
/cubeofnumber.py
/Dictonaries_keys&value.py
/Dictonary_intro.py
/doctonaries_operations.py
/first script.py
/For_Loops.py
/For_Loops.py
/forloop.py
/forloop1.py
/forloop_even_odd_Count.py
/forloop_evennumbers.py
/Frozon_set.py
/keywordlist.py
/list numberaical operation.py
/Mutability & Immutability.py
/naturalnumber.py
/Nested List.py
/numbercount.py
/Operation in sets.py
/Operation in sets_2.py
/rough.py
/sets_in_python.py
/Shallow_deep_copy.py
/Simple Interest.py
